.header {
	padding: 0.8rem;
	background-color: var(--gray--900);
}

.brand {
	margin-right: auto;
}

.brand span {
	font-size: 2.441rem;
}

.navbar {
	display: flex;
	align-items: center;
}

.btn {
	display: flex;
	position: relative;
	padding: 0.64rem;
	isolation: isolate;
}

.btn::before {
	content: '';
	position: absolute;
	width: 100%;
	padding-top: 100%;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	translate: -50% -50%;
	z-index: -1;
	transition: 0.25s background-color;
}

.btn:hover::before {
	background-color: rgba(52, 58, 64, 0.902);
}

.bars-icon,
.navbar-links-icon {
	width: 2.4rem;
	height: 2.4rem;
	color: var(--gray--100);
}

.navbar-links {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	padding: 0.64rem 0;
}

.navbar-links:link,
.navbar-links:visited {
	color: inherit;
	text-decoration: none;
}

.navbar-list li:first-child {
	margin-top: 2.441rem;
}

.navbar-list {
	list-style: none;
	font-size: 1.953rem;

	display: flex;
	flex-direction: column;
	gap: 1.563rem;
}

.navbar-accordion {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.3s;
}

.navbar-accordion > * {
	overflow: hidden;
}

.navbar-accordion--open {
	grid-template-rows: 1fr;
}
